.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    overflow: auto;

    .inner {
      position: absolute;
      background: white;
      //opacity: 0;
      height: auto;
      top:32px;
      bottom: 32px;
      left:50%;
      transform: translateX(-50%);
      border-radius: 8px;
      transition: all 0.3s ease-in-out; 
      overflow: auto;

      button{
        position: fixed;
        top: 8px;
        right: 8px;
      }
    }
}